<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PyhttpPaltformHandler" />
            <add name="DjangoAppHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform processPath="C:\inetpub\wwwroot\ScriptRepo\.venv\Scripts\python.exe" arguments="C:\inetpub\wwwroot\ScriptRepo\ScriptRepo\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\ScriptRepo\ScriptRepo\logs\">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ScriptRepo\ScriptRepo" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="ScriptRepo.settings" />
    </appSettings>
</configuration>